use flake . --impure

dotenv

export ODF_USERS_SRC="${ODF_SERVICES_ROOT}/users"
export ODF_EXECUTION_BASE_SRC="${ODF_SERVICES_ROOT}/execution-base"
export ODF_SCHEDULER_SRC="${ODF_SERVICES_ROOT}/scheduler"
export ODF_JOBJOCKEY_SRC="${ODF_SERVICES_ROOT}/jobjockey"
export ODF_STORE_SRC="${ODF_SERVICES_ROOT}/store"

